# VS Code user extensions
.vscode/extensions/

# VS Code internal caches
config/.config/Code/CachedExtensionVSIXs/
config/.config/Code/CachedData/
config/.config/Code/Cache/
config/.config/Code/Service Worker/

